<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delivary</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/jpeg">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="video-bg">
        <video width="100%" height="auto" preload="auto" autoplay="autoplay"
        loop="loop" muted="muted">
            <source src="/images/authorisation/Bloom.mp4" type="video/mp4"></source>
        </video>
    </div>

    <div class="content">

        <h1>Bloom</h1>
        <h1>&</h1>
        <h1>Wild</h1>

        <div class="entrance">
            <div class="content__logo">
                <img width="160" src="/images/logo.png" alt="logo">
            </div>
            <div class="entrance__button">
                <a href="/auth">
                    <button class="btn" type="button">Войти</button>
                </a>
            </div>
        </div>


        <div class="contacts">
            <div class="card">
                <div class="face face1">
                    <div class="content1">
                        <img src="/images/authorisation/whatsapp.svg">
                        <h3>Контакты</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content1">
                        <p>
                            e-mail: yuliait16@gmail.com
                            тел.  : +375(29)817 4596
                        </p>

                    </div>
                </div>
            </div>


        </div>

    </div>


    <script src="/js/script.js"></script>
</body>
</html>
