<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delivery</title>
    <!--<link rel="shortcut icon" href="assets/logo.jpg" type="image/jpeg">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">-->
</head>
<body>

<div th:switch="${users}">
    <h2 th:case="null">Нет клиентов</h2>
    <div th:case="*">
        <h2>Клиенты</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.password}"></td>
                <!--<td><a th:href = "@{customer-update/{id} (id=${customer.id})}">Редактировать</a></td>
                <td><a th:href = "@{customer-delete/{id} (id=${customer.id})}"></a></td>-->
            </tr>
            </tbody>
        </table>
    </div>

</div>


<p><a href="/customer-create">Создать клиента</a> </p>
</body>
</html>